<ul id="container">
	<table>
 <tr>
  <td>Event Name: </td>
  <td><input type="text" ng-model="item.name"  /></td>
 </tr>
 <tr>
  <td>Event Date: </td>
  <td><input type="text" ng-model="item.date" /></td>
 </tr>
 <tr>
  <td>Event descripton: </td>
  <td><input type="text" ng-model="item.description" /></td>
 </tr>
 <tr>
  <td>Event Date: </td>
  <td><input type="text" ng-model="item.address" /></td>
 </tr>
 <tr>
  <td>Event Date: </td>
  <td><input type="text" ng-model="item.time" /></td>
 </tr>
  <tr>
  <td>Event Date: </td>
  <td><input type="text" ng-model="item.imageUrl" /></td>
 </tr>
<td><input type ="button"  value = "Submit"  ng-click="addEvent(item)"/> </td>
 <tr>
      
 </tr>
</table>
</ul>